@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

/*
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  crossed lines - background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");

  */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 20px;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 50px;
    /* background: lightblue; */
}

/* HEADER */
header img {
    width: 250px;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 30px 0;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

/* MAIN */

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background: rgb(204, 135, 135); */
  margin-bottom: 30px;
}

 article{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
 
   width: 320px;
   height: 320px;
   color: white;
   border-radius: 6px;
   margin: 10px;
   transition: transform 0.3s;
 }

 article:hover {
   transform: scale(1.05);
 }

 article::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.img1 {
    position: relative;
    background: url(images/pic01.jpg);
    background-size: cover;
    background-position: center;
}

.img1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e98a9c;
    transition: opacity 0.3s;
}
.img1:hover::before {
    opacity: 0;
}

.img2 {
    position: relative;
    background: url(images/pic02.jpg);
    background-size: cover;
    /* background-position: center; */
}
.img2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #76b9e2;
    transition: 0.3s;
}
.img2:hover::before {
    opacity: 0;
}

.img3 {
    background: url(images/pic03.jpg);
    background-size: cover;
    background-position: center;
}
.img3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #82b8b1;
    transition: 0.3s;
}
.img3:hover::before {
    opacity: 0;
}

.img4 {
    background: url(images/pic04.jpg);
    background-size: cover;
    background-position: center;
}
.img4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #994f6d;
    transition: 0.3s;
}
.img4:hover::before {
    opacity: 0;
}
.img5 {
    background: url(images/pic05.jpg);
    background-size: cover;
    background-position: center;
}
.img5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9881b0;
    transition: 0.3s;
}
.img5:hover::before {
    opacity: 0;
}
.img6 {
    background: url(images/pic06.jpg);
    background-size: cover;
    background-position: center;
}
.img6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #97afed;
    transition: 0.3s;
}
.img6:hover::before {
    opacity: 0;
}
.img7 {
    background: url(images/pic07.jpg);
    background-size: cover;
    background-position: center;
}
.img7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #85b8d2;
    transition: 0.3s;
}
.img7:hover::before {
    opacity: 0;
}
.img8 {
    background: url(images/pic08.jpg);
    background-size: cover;
    background-position: center;
}
.img8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #61969a;
    transition: 0.3s;
}
.img8:hover::before {
    opacity: 0;
}
.img9 {
    background: url(images/pic09.jpg);
    background-size: cover;
    background-position: center;
}
.img9::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #85b7b2;
    transition: 0.3s;
}
.img9:hover::before {
    opacity: 0;
}
.img10 {
    background: url(images/pic10.jpg);
    background-size: cover;
    background-position: center;
}
.img10::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #876c97;
    transition: 0.3s;
}
.img10:hover::before {
    opacity: 0;
}
.img11 {
    background: url(images/pic11.jpg);
    background-size: cover;
    background-position: center;
}
.img11::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5e72a3;
    transition: 0.3s;
}
.img11:hover::before {
    opacity: 0;
}
.img12 {
    background: url(images/pic12.jpg);
    background-size: cover;
    background-position: center;
}
.img12::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c887af;
    transition: 0.3s;
}
.img12:hover::before {
    opacity: 0;
}

/* FOOTER */

footer {
    color: rgb(46, 45, 45);
    background: lightgray;
    width: 100%;
    /* max-width: 1200px; */
    padding: 30px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 100%; */
    
}

footer h4 {
    font-size: 1em;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

form {
    display: block;
    flex-wrap: wrap;

    padding-right: 25px;
    width: 70%;
    order: 1;
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(114, 114, 114);

    width: 45%;
    min-width: 250px;

    font-size: 0.7em;
    padding: 15px;
    padding-left: 0px;
    margin-bottom: 20px;
}

input:nth-of-type(1) {
        margin-right: 20px;
    }
input:nth-of-type(3) {
       width: 100%;
    }


button {
    border: none;
    border-radius: 5px;
    background: #4e4e4e;
    color: white;
    width: 100px;
    font-size: 0.7em;
    font-weight: 700;
    padding: 15px;
    margin-top: 30px;
    letter-spacing: 5px;
}

.social {
    width: 28%;
    order: 2;
}

.social .icons {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.social .icons > * {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1.5px solid rgb(145, 142, 142);
    border-radius: 8px;
}

h6 {
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.39);
    order: 3;
    text-align: left !important;
}

/* MEDIA */

@media (max-width: 850px) {
    .img12, .img11, .img10, .img9, .img8, .img7, .img6, .img5 {
        display: none;
    }
    article {
        width: 100%;
    }

    .social {
        order: 1 ;
    }
    form {
        order: 2;
    }
    h6 {
        order: 3;
    }

    button {
        width: 100%;
        font-size: 0.8em;
    }
   
}
